[mysqld]
user = root
port = 3306
datadir = /app/data
log-bin = /app/data/mysql-bin
socket = /app/run/mysql.sock

#general_log_file = /app/log/mysql.log
#general_log = 1

key_buffer_size=16M
max_allowed_packet=8M

[client]
socket = /app/run/mysql.sock
